*.sw?
*.o
*.a
*.so
*.lo
*.la
*~

src/Makefile
src/config.h
src/config.log
src/config.status
src/configure
src/mpsse_wrap.c
src/pylibmpsse.py

src/examples/bitbang
src/examples/ds1305
src/examples/ds3231
src/examples/gpio
src/examples/i2ceeprom
src/examples/spiflash
src/examples/spiflashfast
src/examples/list_usb_ports
